# dependencies
node_modules/
.pnp
.pnp.js
.yarn/install-state.gz

# next.js
.next/
out/
build/

# testing
coverage/

# misc
.DS_Store
*.pem
.idea/
.vscode/

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env
.env*.local
.env

# turbo
.turbo/

# typescript
*.tsbuildinfo
next-env.d.ts
